@import "../media-query-persian.css";


@font-face {
    font-family: yekan-bakh-bold;
    src: url('../../fonts/YekanBakh-Bold.ttf');
}

@font-face {
    font-family: yekan-bakh-regular;
    src: url('../../fonts/YekanBakh-Regular.ttf');
}

@font-face {
    font-family: yekan-bakh-semi-bold;
    src: url('../../fonts/YekanBakh-SemiBold.ttf');
}

* {
    font-family: yekan-bakh-regular !important;
}

body {
    font-family: yekan-bakh-regular !important;
}

.theme-btn i {
    margin-left: 0px !important;
    margin-right: 4px !important;
}

.main-menu .mobile-logo {
    margin-right: unset !important;
    margin-left: auto !important;
}

.adress-field ul li i {
    margin-right: unset !important;
    margin-left: 10px !important;
}

.resume-item .icon {
    margin-right: unset !important;
    margin-left: 20px !important;
}
