.form-icon-right {
    right: -1px !important;
    left: auto !important;
}

.form-icon-right+.form-control, .dual-listbox .form-icon-right+.dual-listbox__search, div.dataTables_wrapper div.dataTables_filter .form-icon-right+input {
    padding-right: calc(1rem + 24px) !important;
    padding-left: 1rem !important;
}
